<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" 
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="CalculatorLibrary.ICalculator, InterfacesLibrary"
                mapTo="Modularity.Calculator, CalculatorLibrary"/>
          <type type="CalculatorLibrary.ICalculatorReplLoop, InterfacesLibrary"
                mapTo="Modularity.CalculatorReplLoop, CalculatorLibrary"/>
          <type type="InputOutputLibrary.IInputService, InterfacesLibrary"
                mapTo="Modularity.ConsoleInputService, InputOutputLibrary"/>
          <type type="InputOutputLibrary.IOutputService, InterfacesLibrary"
                mapTo="Modularity.ConsoleOutputService, InputOutputLibrary"/>
          <type type="CalculatorCommandParsingLibrary.IInputParserService, InterfacesLibrary"
                mapTo="Modularity.InputParserService, CalculatorCommandParsingLibrary"/>
        </types>
      </container>
    </containers>
  </unity>
</configuration>